#main-column-container {
  display: flex;
  flex-direction: column;
}

#main-container1 {
  display: flex;
  flex-direction: row;
}

#left-section {
  width: 40%;
  /* border: red 1px solid */
}

#right-section {
  width: 60%;
  /* border: red 1px solid */
}

#bottom-section {
  width: 100%;
}

#header1 {
  background-color: #4DD660;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: black;
}